Django
djangorestframework
django-cors-headers
requests
python-dotenv

groq
google-genai
cohere
huggingface-hub

youtube-search-python
wikipedia
pywhatkit
chistesESP
fastavro

PyAutoGUI
PyGetWindow
pillow